<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BARS</title>
    <style>
        body{
            box-sizing: border-box;
            font-size: 10px;
            font-weight: bold;
            }
        table{
            border-spacing: 10px;
        }
        .subject_name{
            width: 400px;
        }
        .km-nums{
            margin-right: 15px;
        }

    </style>
</head>
<body>
    <table>
        <tr><td class="subject_name">Название предмета</td></tr>
        {% for item in subjects_list %}
            <tr>
                <td class="subject_name"></td>
                {% for i in range(1, item['km_num'] + 1) %}
                    <td class="km-nums">КМ-{{i}}</td>
                {% endfor %}
            </tr>
            <tr><td class="subject_name">{{item['name']}}</td>
                {% for mark in item.marks %}
                    <td style="background-color: {{color_dict[mark]}}; text-align: center">{{mark}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>