beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
idna==2.10
imgkit==1.0.2
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
prettytable==0.7.2
protobuf==3.12.2
psycopg2-binary==2.8.6
pyTelegramBotAPI==3.7.2
redis==3.5.3
redis-dump-load==1.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
webkit2png==0.8.2
yadisk==1.2.14
